.selectionLiaison {
    width: 100%;
    height: fit-content;
    background: rgba(248, 248, 248, 0.637);
    padding: 20px;
    display: flex;
    flex: auto;
    flex-direction: row;
    flex-flow: wrap;
    color: black;
    justify-content: space-between;
}

.form-check_Entitiy {
    
}

.quantity {
    margin: 5px;
}